<div class="mt-5">
  <div class="my-2 w-25">
    <label class="my-1" for="">Select Category : </label>
    <select class="form-control" (change)="filterCategory($event)">
      <option value="All" selected >All</option>
      <option [value]="categories[0]">{{categories[0]}}</option>
      <option [value]="categories[1]">{{categories[1]}}</option>
      <option [value]="categories[2]">{{categories[2]}}</option>
      <option [value]="categories[3]">{{categories[3]}}</option>
    </select>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-4 mb-3" > 
      
        <div class="card" style="width: 16rem;height: 20rem" >
          <img [src]="products[0].image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title mb-2 ">{{products[0].title}}</h5>
            <p class="card-text">
              {{products[0].description}}
            </p>
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <a href="#" class="btn btn-primary">Add To Cart</a>
              <span>{{products[0].price}} L.E</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div> -->
</div>
