<div class="mt-5">

  <div class="my-2 w-25">
    <label class="my-1" for="">Select Category : </label>
<select class="form-control" name="" id="">

<option value="1">Category 1</option>

<option value="2">Category 2</option>
<option value="3">Category 3</option>
<option value="4">Category 4</option>
</select>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src=" " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class=" mb-2 d-flex justify-content-between align-item-center">

          <a href="#" class="btn btn-primary">Add To Cart</a>
          <span>50 L.E</span>
        </div>
      </div>
    </div>
  </div>
</div>